<% provide(:title, "About") %>
<div class="center jumbotron">
<h1>About</h1>
  <div class="row">
    <div class="col-sm-4"><%= image_tag("shawn.jpg", alt: "Shawn") %></div>
    <div class="col-sm-8">
    	<p class="text-left">Hi. I'm Shawn.</p> 
    	<p class="text-left">I specialize in UX, client support, and full stack development with Ruby on Rails. By day I assist members of Allrecipes.com with all aspects of the website and mobile app experience. By night I work Ruby on Rails projects to build CRUD websites. I am passionate about simple, clean interfaces and feature sets.
  		</p>
  		<p class="text-left">Please contact me at hawkbit@gmail.com if you have any questions or concerns. 
  		</p>
    </div>
  </div>


