<% provide(:title, "Contact") %>
<div class="center jumbotron">
<h2 class="text-left">Email: hawkbit@gmail.com</h2>
<h2 class="text-left">LinkedIn: <a href="https://www.linkedin.com/pub/shawn-shrader/82/49/931">Me</a></h2>
<h2 class="text-left">Twitter: <a href="https://twitter.com/_hawkbit">@_hawkbit</a></h2>
</div>
