<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Shawn Shrader | Web Solutions</h1>
  <h2>HTML | CSS | JavaScript | Ruby on Rails | PHP | SQL</h2>


<div class="row">
    <div class="col-md-4">
      <h1>Design.</h1>
      <div class="col-sm-4"><%= image_tag("design.jpg", alt: "Design.") %></div>
    </div>
    <div class="col-md-4"> 
      <h1>Develop.</h1>
      <div class="col-sm-4"><%= image_tag("coder.jpg", alt: "Develop.") %></div>
    </div>
    <div class="col-md-4"> 
      <h1>Deploy.</h1>
      <div class="col-sm-4"><%= image_tag("lug_proj.jpg", alt: "Deploy.") %></div>
    </div>
    </div>
</div>