<% provide(:title, "Info") %>
<div class="container">
  <div class="jumbotron">
    <h1>Information Links</h1>
    <p>Various information on programming</p>
      <div class="row">
        <div class="col-sm-6">Ruby</div>
        <div class="col-sm-6">
          <h5>Rails</h5>
          <p>http://guides.rubyonrails.org/index.html</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">JavaScript</div>
        <div class="col-sm-6">JS Frameworks</div>
      </div>
      <div class="row">
        <div class="col-sm-6">Git/GitHub</div>
        <div class="col-sm-6">Other</div>
      </div>
  </div>
</div>
