<footer class="footer">
<div class="center jumbotron">
  <small>
    Site Design and Images 2015 Shawn Shrader | hawkbit@gmail.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  </div>
</footer>